<% provide(:title, 'Show Course') %>
<div class="container">
	<div class="row">
		<div class="span12">
			<div>
<<<<<<< HEAD
				<%= render @course %>
=======
				<%= render @course%>
>>>>>>> dccdb5b12d6be8d4a29f1bf4155b4fc85b94db20
				<div>
					<div class="row">
						<div class="span5 offset3">
							<%= render :partial => 'comments/form', :locals => {:commentable => @course} %>
						</div>
						
					</div>
					<%= render :partial => 'comments/review', :locals => {:commentable => @course} %>
				</div>
				<%= link_to "Back to Courses", courses_path %>
			</div>
		</div>
	</div>
</div>