
<div class="navbar navbar-fixed-top ds-dragover-1" >
	<div class="navbar-inner">
		<div class="container">
			<!-- <a class="brand" href=""><strong class="curr">SmartCoach</strong></a> -->
			<%= link_to "SmartCoach", root_path, class: "curr brand" %>
			<div class="navbar-content-1">


				<ul class="nav pull-right">
					<!-- <li class="active"> -->
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li>
						<%= link_to "About", about_path %>
					</li>
					<li>
						<%= link_to "Course", courses_path %>
					</li>
					<% if signed_in? %>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<%= gravatar_for_with_size current_user, "15x15" %> <%= current_user.name %> <b class="caret"></b>
						</a>
						<ul id="droplinks" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<% if current_user.has_role? :admin %>
							<li>
								<%= link_to 'Admin', users_path %>
							</li>
							<% end %>
							<li><%= link_to "Profile", current_user %></li>
							<li class="divider"></li>
							<li>
								<%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
							</li>
						</ul>
					</li>
					<% else %>
					<li><%= link_to "Sign in", new_user_session_path %></li>
					<li>
						<%= link_to "Subscribe", new_user_registration_path %>
					</li>
					<% end %>



				</ul>
			</div>
		</div>
	</div>
</div>
