<header class="navbar  navbar-fixed-top navbar-inverse ">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to image_tag("cap.png" ,class: 'logosize'), root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Help", help_path %></li>
					<% if signed_in? %>
					<li><%= link_to "Users", users_path %></li>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "Settings",  edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li>
								<%= link_to "Sign out", signout_path, method: "delete" %>
							</li>
						</ul>
					</li>
				</ul>
				<% else %>


				<li id="fat-menu" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
					
					<div  class="modal-body " >
						<%= form_for(:session, url: sessions_path) do |f| %>
						<%= f.label :email %>
						<%= f.text_field :email %>
						<%= f.label :password %>
						<%= f.password_field :password %>
				<%= f.submit "Sign in", class: "btn  btn-primary btn-inverse" %>
						<li class="divider"></li>
						
						<% end %>
						<p> <%= link_to "Sign up now!", signup_path %></p>
					</div>
					</li>
				</ul>
			</li>
			<% end %>




		</ul>
	</nav>
</div>

</div>
</header>	
<% unless signed_in? %>
<div class="row1">
	<aside class="span2">

<table class="table table-hover hero-unit" >

 <tr><td>

 	<a href="#myModal" role="button" class="btn btn-block btn-info" data-toggle="modal">Signup</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 align="center">New user registration</h3>
  </div>
  <div class="modal-body">




		<%= form_for(:user, url: users_path) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :email %>
		<%= f.text_field :email %>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation %>
		
  </div>
  <div class="modal-footer">
    <button class="btn  btn-primary btn-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit "Create my account", class: "btn  btn-primary btn-success " %>
  </div>
  		<% end %>
</div></td></tr>
 <tr><td><a href="#myModal1" role="button" class="btn btn-block btn-info" data-toggle="modal">Help</a></td></tr>
 <tr><td><a href="#myModal2" role="button" class="btn btn-block btn-info" data-toggle="modal">Galary</a></td></tr>
 <tr><td><a href="#myModal" role="button" class="btn btn-block btn-info" data-toggle="modal">Login</a></td></tr>
</table>
</aside>
</div>
<% end %>

